<ul class="menu group">
	<li><a href="{{path('homepage')}}" class="{% if app.request.attributes.get('_route') == 'homepage' %}active{% endif %}">Pradžia</a></li>
	<li><a href="{{path('forma')}}" class="{% if app.request.attributes.get('_route') == 'forma' %}active{% endif %}">Prenumeruoti</a></li>
	<li><a href="{{path('subscription_list')}}" class="{% if app.request.attributes.get('_route') == 'subscription_list' %}active{% endif %}">Administratoriaus zona</a></li>
	{% if(app.session.get('admin') == "true") %}
		<li><a href="{{path('logout')}}" ">Atsijungti</a></li>
	{% endif %}
</ul>
