{% extends 'base.html.twig' %}
{% block body %}
    <div id="wrapper">

        <div id="container">
            <header>
                {{include('default/Includes/menu.html.twig')}}
            </header>
            
        
            <div id="welcome">
                <h1>Užduotis "Prenumerata"</h1>
            </div>
            
                {% for message in app.flashes('notice') %}
                    <div class="flash-notice">
                        {{ message }}
                    </div>
                {% endfor %}

            <div id="status">
                <p>
                   <h2>Trumpas užduoties atlikimo paaiškinimas</h2>
                   <p>Užduotis atlikta laikantis paprastumo aiškumo principais - pateikiama tik tai, kas reikalinga parodyti
                   užduoties rezultatą.</p>
                   <p>Užduotis rezultatas - tai mini web svetainė, kuri taip pat turi tik registruotam vartotojui prieinamą (administratoriaus) zoną.</p> 
                   <p>Prisiregistravimo vardas ir slaptažodis yra saugomi masyve, kuris randasi kontrolieriuje ir prisijungus priskiriami sesijai. Atsijungiant sesijos įrašas įštrinamas. Prisijungimui nedaryta pilna vartotojų valdymo sistema, nes supratau, kad pagal užduotį to nereikia, kad sistema nenaudotų reliacinės duomenų bazės. Administratoriaus prisijungimo duomenys yra tokie:</p>
                   <ul>
                       <li>Vartotojo vardas: "admin";</li>
                       <li>Slaptažodis: "slaptazodis"</li>
                   </ul>
                </p>
            </div>

            

        </div>
    </div>
{% endblock %}

{% block stylesheets %}

<link href="{{ asset('css/custom.css') }}" rel="stylesheet" />
{% endblock %}
