
body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
h1 { font-size: 36px; }
h2 { font-size: 21px; margin-bottom: 1em; }
p { margin: 0 0 1em 0; }
a { color: #0000F0; }
a:link, a:visited {
	color: #000;
	text-decoration: none;
}
a:hover { text-decoration: none; }
code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
#wrapper { background: #FFF; margin: 1em auto; max-width: 1200px; width: 95%; }
#container { padding: 2em; }
#welcome, #status { margin-bottom: 2em; }
#welcome h1 span { display: block; font-size: 75%; }
#icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
#icon-book { display: none; }

@media (min-width: 768px) {
    #wrapper { width: 80%; margin: 2em auto; }
    #icon-book { display: inline-block; }
    #status a, #next a { display: block; }

    @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
    @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
    .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
}


ul.menu {
	margin-left: 0px;
	padding-left: 0px;
}
ul.menu li {
	display: block;
	color: #999;
	float: left;
	margin-right: 10px;
}
ul.menu li.prisijungimas {
	float: right;
}
ul.menu li.prisijungimas a {
	font-size: 0.8em;
}
ul.menu li a:link {
	color: #999;
	text-transform: uppercase;
	text-decoration: none;

}
ul.menu li a:visited {
	color: #999;
}
ul.menu li a:hover {
	color: #999;
	text-decoration: underline;
}
.group:after {
  content: "";
  display: table;
  clear: both;
}
a.active {
	color: navy!important;
}
div.table {
	display: table;
	font-size: 17px;
}
form.tr {
	display:table-row;
}
span.td {
	display: table-cell;
	padding: 10px;
}
span.td input {
	padding: 10px;
}
#klaidos, .flash-notice {
	background-color: #f2dede;
	padding: 10px;
	border-radius: 3px;
	margin-bottom: 20px;
}
a.btn, .btn {
	display: inline-block;
	padding: 10px 10px;
	border: 1px solid #999;
	border-radius: 3px;
	
}
#sorting {
	margin-bottom: 50px;
	float: left;
}

#category_link {
	float: right;
}
a.simple_link:link, a.simple_link:visited {
	text-decoration: underline;
	display: block;
	margin-bottom: 30px;
}
a.simple_link:hover, a.simple_link:active {
	text-decoration: none;
}
a.trinti:link, a.trinti:visited {
	display: box;
	padding: 5px 5px;
	border: 1px solid #999;
	border-radius: 3px;
	font-size: 0.8em;
	margin-bottom: 5px;
}
a.trinti:hover, a.trinti:active {
	text-decoration: none;
}
.category_item {
	margin-bottom: 10px;
	display: block;
}
.category_form {
	float: left;
	width: 50%;
}
.category_list {
	float: right;
	width: 50%;
}
label {
	display: block;
	min-width: 110px;
	padding-right: 20px;
	margin-bottom: 0px;
	line-height: 100%;
}
#form > div {
	margin-bottom: 5px;
}
#form input {
	margin-bottom: 20px;
	display: block;
	padding: 10px;
}
