{% extends 'base.html.twig' %}
{% block body %}
    <div id="wrapper">

        <div id="container">
            <header>
                {{include('default/Includes/menu.html.twig')}}
            </header>
            
        
            <div id="welcome">
                <h1>Kategorijų valdymas</h1>
            </div>

            <div id="subscription_list" class="group">
                <div id="panel group">
                    <a class="simple_link" href="/forma/prenumerata/sarasas">Grįžti į prenumeratų administravimo puslapį</a>
                </div>
                
                <div class="category_form">
                    {{ form_start(form) }}
                        {{ form_widget(form) }}

                        <input type="submit" class="btn" value="Pridėti kategoriją" />
                    {{ form_end(form) }}
                </div> 
                <div class="category_list">
                    <h4>Kategorijų sąrašas:</h3>
                    {% for lis in list%}
                        {% if(lis) %}
                            <div class="category_item">{{lis}} <a class="trinti" href="/kategorijos/sarasas/trinti/{{lis|url_encode}}">Trinti</a></div>
                        {% endif %}
                    {% endfor %}
                </div>               
            </div>
            
            

        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
<link href="{{ asset('css/custom.css') }}" rel="stylesheet" />
{% endblock %}
