{% extends 'base.html.twig' %}
{% block body %}
    <div id="wrapper">

        <div id="container">
            <header>
                {{include('default/Includes/menu.html.twig')}}
            </header>
            
        
            <div id="welcome">
                <h1>Naujienų prenumerata</h1>
            </div>

            <div {% if( app.flashes('notice')) %} id="klaidos"> {% endif %}  
                {% for message in app.flashes('notice') %}
                    <div class="flash-notice">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>

            <div id="status">
            	
            	{{ form_start(form) }}
				    {{ form_widget(form) }}

				    <input type="submit" class="btn" value="Užsakyti naujienas" />
				{{ form_end(form) }}


				
                <p></p>
            </div>

            

        </div>
    </div>
{% endblock %}

{% block stylesheets %}

<link href="{{ asset('css/custom.css') }}" rel="stylesheet" />
{% endblock %}
