{% extends 'base.html.twig' %}
{% block body %}
    <div id="wrapper">

        <div id="container">
            <header>
                {{include('default/Includes/menu.html.twig')}}
            </header>
            
        
            <div id="welcome">
                <h1>Prenumeratų sąrašas</h1>
            </div>

            <div {% if( errors or app.flashes('notice')) %} id="klaidos"> {% endif %}  
            	{% for message in app.flashes('notice') %}
                    <div class="flash-notice">
                        {{ message }}
                    </div>
                {% endfor %}

                {% for error in errors %}
                    {{error}}<br />
                {% endfor %}
            </div>

            <div id="subscription_list">
                <div id="panel group">
                    <div id="sorting">
                        <p>Rikiuoti pagal: 
                            <a class="btn sort" href="{{path('subscription_list')}}/rikiuoti/date">datą</a>
                            <a class="btn sort" href="/forma/prenumerata/sarasas/rikiuoti/name">vardą</a>
                            <a class="btn sort" href="/forma/prenumerata/sarasas/rikiuoti/email">pašto adresą</a>
                        </p>
                    </div>
                    <div id="category_link">
                        <a class="btn" href="/kategorijos/sarasas">Kategorijų valdymas</a>
                    </div>
                </div>
                
                <div class="table">
                    {% for lis in list%}
                    <form action="{{path('subscription_list')}}/redaguoti" method="post" class="tr">
                        <span class="td"><input type="hidden" name="email" value="{{lis['email']}}"></span>
                        <span class="td">{{lis['date']}}</span>
                        <span class="td"><input type="text" name="name" value="{{lis['name']}}"></span>
                        <span class="td"><input type="text" name="new_email" value="{{lis['email']}}"></span>
                        <span class="td">{{lis['categories']}}</span>
                        <span class="td"><input type="submit" value="Koreguoti"></span>
                        <span class="td"><a href="{{path('subscription_list')}}/trinti/{{lis['email']|url_encode}}" onclick="return confirm('Ar tikrai norite trinti?');">Trinti</a></span>
                    </form>
                    {% endfor %}
                </div>
                
            </div>

            

        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
<link href="{{ asset('css/custom.css') }}" rel="stylesheet" />
{% endblock %}
