{% extends 'base.html.twig' %}
{% block body %}
    <div id="wrapper">

        <div id="container">
            <header>
                {{include('default/Includes/menu.html.twig')}}
            </header>
            
        
            <div id="welcome">
                <h1>Administratoriaus prisijungimas</h1>
            </div>

            <div id="status">
            	{% for message in app.flashes('notice') %}
                    <div class="flash-notice">
                        {{ message }}
                    </div>
                {% endfor %}

                {{ form_start(form) }}
                    {{ form_widget(form) }}

                    <input type="submit" value="Prisijungti" />
                {{ form_end(form) }}
            </div>

            

        </div>
    </div>
{% endblock %}

{% block stylesheets %}

<link href="{{ asset('css/custom.css') }}" rel="stylesheet" />
{% endblock %}
