{% extends 'base.html.twig' %}
{% block body %}
    <div id="wrapper">

        <div id="container">
            <header>
                {{include('default/Includes/menu.html.twig')}}
            </header>
            
        
            <div id="welcome">
                <h1>Forma pateikimo rezultatas</h1>
            </div>

            <div id="status">
            	{% for message in app.flashes('notice') %}
                    <div class="flash-notice">
                        {{ message }}
                    </div>
                {% endfor %}

                <p>Dabar, jei norite peržiūrėti formos išsaugotus duomenis, prisijunkite prie vidinės aplinkos, pasinaudodamis mygtuku "PRISIJUNGIMAS".</p>
            </div>

            

        </div>
    </div>
{% endblock %}

{% block stylesheets %}

<link href="{{ asset('css/custom.css') }}" rel="stylesheet" />
{% endblock %}
